<!-- VERTICAL MENU -->
<nav class="navbar navbar-default sidebar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand  toggle-btn" href="#">LABTI - INTEC</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a onclick="location.href='/admin/home'">Dashboard</a></li>
        <li ><a onclick="location.href='/admin/perfil'">Perfil</a></li>
        <li class="active"><a onclick="location.href='/app/fd401'">FD-401</a></li>
        <li ><a onclick="location.href='/admin/fd402'">FD-402</a></li>
        <li ><a onclick="location.href='/admin/fd403'">FD-403</a></li>
        <li ><a onclick="location.href='/admin/fd404'">FD-404</a></li>
        <li ><a onclick="location.href='/admin/fd405'">FD-405</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END VERTICAL MENU-->
<div class="main">

  <!-- Content Here -->
  <div class="page-header" align="center">
    <h1><small>FD401</small></h1>
  </div>
  <div class="container content">
    <div class="opcion">
      <hr>
      <span class="op-title">Cantidad de computadoras: <!-- Get info from data base --> <span id="cant_pcs">20</span><button type="button" class="btn btn-primary btn-xs">Editar</button></span>
      <hr>
    </div>
    <div class="opcion">
      <hr>
      <div class="group"><span class="op-title">Actividades: <button type="button" class="btn btn-primary btn-xs">+</button></span></div>
      <hr class="myLine" size="5">
      <div class="list-group">
        <div><a href="#" class="list-group-item">First item</a></div>
        <div><a href="#" class="list-group-item">First item</a></div>
      </div>
      <hr>
    </div>
  </div>
</div>



<!-- Scripting -->
<script type="text/javascript">

</script>