<div class="page-header" align="center">
  <h1>LABTI <small>- Laboratorios TI</small></h1>
</div>

<!-- Cursos del LAB TI -->
<div class="container">
  <div class="list-group">
    <button type="button" class="list-group-item" onclick="show401()">FD-401</button>
    <div class="list-group-item room" id="fd401">
      <div class="table-responsive">
        <table class="table table-bordered" id="table401">
          <tr>
            <th>H</th>
            <th>Lun</th>
            <th>Mar</th>
            <th>Mie</th>
            <th>Jue</th>
            <th>Vie</th>
            <th>Sab</th>
          </tr>
        </table>
      </div>
    </div>
    <button type="button" class="list-group-item" onclick="show402()">FD-402</button>
    <div class="list-group-item room" id="fd402">
      Info 402...
    </div>
    <button type="button" class="list-group-item" onclick="show403()">FD-403</button>
    <div class="list-group-item room" id="fd403">
      Info 403...
    </div>
    <button type="button" class="list-group-item" onclick="show404()">FD-404</button>
    <div class="list-group-item room" id="fd404">
      Info 404...
    </div>
    <button type="button" class="list-group-item" onclick="show405()">FD-405</button>
    <div class="list-group-item room" id="fd405">
      Info 405...
    </div>
    <button type="button" class="list-group-item" onclick="show411()">FD-411</button>
    <div class="list-group-item room" id="fd411">
      Info 411...
    </div>
    <button type="button" class="list-group-item" onclick="show412()">FD-412</button>
    <div class="list-group-item room" id="fd412">
      Info 412...
    </div>
    <button type="button" class="list-group-item" onclick="show413()">FD-413</button>
    <div class="list-group-item room" id="fd413">
      Info 413...
    </div>
    <button type="button" class="list-group-item" onclick="show414()">FD-414</button>
    <div class="list-group-item room" id="fd414">
      Info 414...
    </div>
    <button type="button" class="list-group-item" onclick="show415()">FD-415</button>
    <div class="list-group-item room" id="fd415">
      Info 415...
    </div>
  </div>
</div>


<!-- Scripting -->
<script type="text/javascript">
  $(".room").hide();
  $(function () {
      $('[data-toggle="popover"]').popover()
  });



  let table = document.getElementById("table401");
  let time = ["7:00", "8:00", "9:00", "10:00", "11:00", "12:00", "13:00", "14:00"];

  for(let j = 1; j <= time.length; j++){

      let row = table.insertRow(j);
      row.insertCell(0).innerHTML = time[j - 1];

      for(let i = 1; i < 7; i++){

          row.insertCell(i);
      }
  }



  function show401(){
      $("#fd401").toggle('slow');
  }
  function show402(){
      $("#fd402").toggle('slow');
  }
  function show403(){
      $("#fd403").toggle('slow');
  }
  function show404(){
      $("#fd404").toggle('slow');
  }
  function show405(){
      $("#fd405").toggle('slow');
  }
  function show411(){
      $("#fd411").toggle('slow');
  }
  function show412(){
      $("#fd405").toggle('slow');
  }
  function show412(){
      $("#fd412").toggle('slow');
  }
  function show413(){
      $("#fd413").toggle('slow');
  }
  function show414(){
      $("#fd414").toggle('slow');
  }

</script>